<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
    xmlns:task="http://www.springframework.org/schema/task" xmlns:cache="http://www.springframework.org/schema/cache"
    xmlns:p="http://www.springframework.org/schema/p"
    xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
      
      <context:component-scan base-package="com.ec.autojob"></context:component-scan>
       <task:annotation-driven/>
      <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"> 
        <property name="ignoreResourceNotFound" value="true" />
        <property name="ignoreUnresolvablePlaceholders" value="true" /> 
        <property name="locations">  
           <list>  
              <!-- 这里支持多种寻址方式：classpath和file -->
              <value>classpath:/application.properties</value>       
              <value>classpath:/application-mongodb.properties</value>
              <!-- 推荐使用file的方式引入，这样可以将配置和代码分离   -->
              <value>file:/ec/apps/autoJob/config/application.properties</value>  
              <value>file:/ec/apps/autoJob/config/application-mongodb.properties</value>
            
            </list>  
        </property>  
      </bean>  
      <!--数据库配置 -->
      <import resource="spring-jdbc.xml"/>
      <import resource=" applicationContext-dubbo-apiPackage.xml"/>
      <import resource=" applicationContext-dubbo-common.xml"/>
    
      
</beans>